//##Color palette
$color-institutional-yellow: #ffd400;
$color-institutional-blue: #0071ba;
$color-institutional-red: #de0d1d;
$color-institutional-green: #00af5e;
$color-institutional-orange: #ff7f00;
$color-institutional-blue-light: #00b4d8;
$color-institutional-gray: #5152536c;
$color-text: #333;
$color-label-errors: $color-institutional-gray;
$color-message-error: $color-institutional-red;
// Variables
$primary-color: #be1622;
$secondary-color: #f8f9fa;
$font-stack: "Helvetica Neue", sans-serif;

$scroll-color:  darken($color-institutional-blue, 15%); // $color-institutional-blue;
// Constants
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: 14px;
$font-size-p: 14px;
$font-size-label: 12px;

$color-primary: $primary-color;
$color-secondary: #333;
$color-background: $secondary-color;



// buttons colors because you know...
$color-buttons: $color-institutional-blue;
$color-buttons-success: $color-institutional-green;
$color-buttons-danger: $color-institutional-red;

$color-hover1: #ffd400;
$color-hover2: #0071ba;
$color-hover3: #de0d1d;
$color-hover4: #00af5e;


// Global styles
body {
  font-family: $font-stack;
  background-color: $color-background;
  margin: 0;
  padding: 0;
  color: $color-text;
}
input{
  font-family: $font-stack;
}

h1 {
  font-size: $font-size-h1;
  color: $color-primary;
}

h2 {
  font-size: $font-size-h2;
  color: $color-primary;
}

h3 {
  font-size: $font-size-h3;
  color: $color-primary;
}

h4 {
  font-size: $font-size-h4;
  color: $color-primary;
}


h5 {
  font-size: $font-size-h5;
  color: $color-primary;
}

p {
  font-size: $font-size-p;
  color: $color-text;
}
