// Import PrimeReact styles
@import "~primeicons/primeicons.css"; // PrimeIcons for PrimeReact icons
@import "~primereact/resources/themes/saga-blue/theme.css"; // Replace with your desired theme
@import "~primereact/resources/primereact.min.css"; // PrimeReact core styles
@import "~react-phone-number-input/style.css"; // Styles for the phone number input component
@import './ReviewContracts'; // Custom styles for review contracts component
@import 'HtmlOverrides'; // Custom HTML overrides
@import 'media'; // Media queries for responsive design
@import 'themes/theme-default.scss'; // Default theme styles
@import 'constants.scss'; // Application constants (e.g., colors, fonts)
@import 'homePage.scss'; // Styles for the homepage
@import 'primeReactOverrides.scss'; // Custom overrides for PrimeReact components
@import 'generalInstitutionalClasses.scss'; // General styles for institutional classes
@import 'scrollCustomization.scss'; // Custom scrollbar styles
@import 'phone-input-wrapper-custom.scss'; // Custom styles for phone input wrapper

// ## start region styles 
.layout {
  background-color: $background-color;
  color: $text-color;

  &.theme-dark {
    @import './themes/_theme-dark';
    background-color: $background-color;
    color: $text-color;
  }

  &.theme-light {
    @import './themes/_theme-light';
    background-color: $background-color;
    color: $text-color;
  }
}



// Mixins
// Centering flex container
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include flex-center; // Center content using flex-center mixin
  padding: 1rem; // Add padding around container
}

.container-homepage-background {
  max-width: 90%;
  margin: auto;
  text-align: center;
  background-color: #333; /* Example of dark theme background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.homepage-title {
  font-size: $font-size-h1;
  text-align: center;
  margin-bottom: 20px;
  color: $color-primary;
}

.login-card {

  .field-username{
    background-color: $primary-color;
    padding: 10px;
    label{
      color: $secondary-color;
    }
    .username-field{
      
      margin-top:10px ;
    }


  }
  .field-password {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    .password-field {
      background-color: #be1622;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  }

  .login-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: $primary-color;
    border: none;
    color: #fff; /* Text color for button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    &:hover {
      background-color: $color-hover1; /* Adjust this to your desired hover color */
    }
  }
}
.c-logout-item {
  background-color: $primary-color;
  color: $primary-color;
  z-index: 400;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-left: 20px;
  min-width: 10rem;
  max-width: 10rem;
  overflow-y: visible;
  max-height: 4rem;
  padding: 0px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  .p-menuitem-link{
  }

  &:hover {
    background-color: $primary-color;
  }
}
.p-menubar .p-menubar-root-list > .p-menuitem.c-logout-item > .p-menuitem-content {
  .p-menuitem-text{
    color: $secondary-color;
  }
  background-color: $primary-color ;
}
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 50px;
}

.main-content {
  flex: 1;
  padding: 20px;
}
.button-form-pdf{
  margin: auto;
  display: flex;
  align-self: center;
  margin-top: 5em;
  background-color: $primary-color;
  border-color: $secondary-color;
  border-radius: 10px;
}
.p-steps .p-steps-item .p-menuitem-link{
  background-color: transparent !important;
}


.form-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &.children-health{
    display: flex;
    justify-content: center;
    gap:2rem;
    h4{
      text-align: center;
    }
    .p-fluid{
      display: flex;
      flex-direction: column;
        gap: 2rem;
    }
  }
  &.schedule {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .child-form{
      flex-direction: column;
      .form-days{
        .day-schedule{
          display: flex;
          flex-direction: row;
          gap: 5rem;
          margin-bottom: 1rem;
          .label-day{
            display: flex;
            max-width: 10%;
            min-width: 10%;
            align-self: center;
            font-weight: bold;
            margin: auto;
            margin-top: 0.1rem;
          }
        }
      }
    .button-group{
      justify-content: center;
    }
  }
  }

  &.terms{
    display: flex;
    flex-direction: column;
    align-items: center;
    .child-form {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      min-width: 200px;
      margin-bottom: 2rem;
      .p-float-label {
        flex: 1;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
      }
      
    }
    
  }
}


.step-disabled {
  position: relative;
  pointer-events: none; // Makes the tab non-clickable
  opacity: 0.6; // Optional: make disabled tabs appear faded
}

.step-disabled .tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Adjust as needed */
  left: 50%;
  margin-left: -100px; /* Half the width of the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.step-disabled:hover .tooltip {
  visibility: visible;
  opacity: 1;
}



.bills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}
.form-row {
  display: flex;
  gap: 1rem;
  padding: left 2rem right 2rem ;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.total-container {
  text-align: center;
  margin-top: 2rem;
}
.bills-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}
.input-text-label {
  border: none;
  background-color: transparent;
  padding-top: 0.5rem;
  margin-left: 2rem;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: default;
  pointer-events: none; // Prevent interaction, making it behave like plain text
}
.bill-card {
  min-width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  max-height: 5rem;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;  
  flex-direction: row ;
  justify-content: space-between;
  .row{
    flex-direction: row;
    display: flex;
    justify-content: space-between;

  }
}

.submit-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}
.child-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
}

.checkbox-wrapper .p-checkbox {
  margin-right: 1rem;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
